



/* 1. background */
.box{
    border: 2px solid red;
    padding: 30px;
}
.box p{
    background-color: white;
    padding: 5px; border: 1px solid gray;
    width: 200px;
}   

/* */
.color1{
    /* background-color: ; */
    /* background-color: rgb(0, 0, 255); */
    /*background-color: #0000ff; */
    background-color: rgba(0, 0, 255, 0.5);
    /* rgba (레드, 그린, 블루, 투명도) : 1(100%) ~0(0%) */
}
.img1{ /* background-image: url("파일경로")*/
    /* 함수명() */
    background-image: url("img/이미지.jfif");
    background-position: center;
    background-repeat: no-repeat;
}
.img2{
    background-image:  url("img/패턴.jfif");
    background-repeat: repeat; /* 만일 비어있는 공간이 있으면 채움*/
}
.img3{
    background-image:  url("img/아이콘.png");
    background-repeat: no-repeat;   /* 채우기없음 */
    background-position: center; /* 이미지 위치 */
    background-size: contain; /* 비율 유지, 요소 안에 표시(빈공간 생길 수 있음)*/
    background-color: black; /* 만일 비어있는 공간에 있을때 배경색 */
}
.img4{
    background-image: url("img/이미지.jfif"); /* 배경 이미지 */
    background-repeat: no-repeat; /* 채우기 */
    background-size: cover; /* 비율 유지, 잘림 생길 수 있음 */
    background-position: center; /* 위치 */
    background-attachment: fixed; /*스크롤 이동해도 배경이미지는 고정된다 */
    /*fixed : 텍스트는 지정된 요소와 고정되고 배경은 스크롤에 따라 이동되는 효과 */
}   


.box2{
    width: 100px; height: 100px;
    border: 2px solid red ;
    background-image: url("img/아이콘1.png"); /* 주위할점 : 지정된 요소의 사이즈 필요!*/
    background-repeat: no-repeat; /* 채우기 : 없음 */
    background-position: -50px -300px;/* 위치 : left : +왼쪽 -오른쪽 왼쪽 상단부터 */
    
}